.button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-dark;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  border: solid 2px $basic-dark;
  padding: 25px;
  text-align: center;
}
