.features {
  background-color: $bg-additional;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: relative;


    @media (min-width: $tablet-width) {
      flex-flow: row wrap;
      gap: 40px 30px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @media (min-width: $desktop-width) {
      gap: 40px 440px;
      justify-content: flex-start;
    }

    li {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      margin: 0 0 35px;
      padding: 0;
      width: 290px;

      @media (min-width: $tablet-width) {
        width: 324px;
        align-items: start;
        flex-flow: row nowrap;
        gap: 15px;
        margin: 0;
      }

      @media (min-width: $desktop-width) {
        width: 360px;
        border-bottom: solid 2px #d10a4233;
        gap: unset;
        padding-bottom: 39px;
        justify-content: space-between;

        &:nth-last-child(2),
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }

      div {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @media (min-width: $tablet-width) {
          align-items: start;
        }

        @media (min-width: $desktop-width) {
          width: 210px;
          min-height: 110px;
        }

        span {
          font-weight: 700;
          font-size: 64px;
          line-height: 64px;
          margin: 0;
          padding: 0;
          word-wrap: wrap;
          word-break: break-word;

          background: $text-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;

          @media (min-width: $tablet-width) {
            font-size: 70px;
            line-height: 70px;
          }
        }

        span:last-of-type {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 12px;


          @media (min-width: $tablet-width) {
            line-height: 22px;
            padding: 0;
            margin-bottom: 0;
          }
        }
      }

      div:last-of-type {
        @media (min-width: $desktop-width) {
          min-height: 110px;
        }

        h3 {
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          color: $basic-dark;
          margin: 0 0 12px;
          padding: 0;

          @media (min-width: $tablet-width) {
            font-size: 20px;
          }

          @media (min-width: $desktop-width) {
            justify-items: flex-start;
            font-size: 22px;
            line-height: 22px;
            margin: 0 0 8px;
          }
        }

        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          margin: 0;
          padding: 0;
          width: 230px;

          @media (min-width: $tablet-width) {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            width: 238px;
          }

          @media (min-width: $desktop-width) {
            width: 210px;
          }
        }
      }
    }

    li:last-of-type {
      margin: 0;
    }

    li:nth-of-type(3) {
      background-color: $bg-blocks;
      color: $basic-white;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 30px 50px 40px;
      width: 320px;
      margin: 5px calc((100% - 320px)/2) 40px;

      @media (min-width: $tablet-width) {
        margin: 0 calc((100% - 320px)/2);
        padding: 35px;
      }

      @media (min-width: $desktop-width) {
        position: absolute;
        content: "";
        width: 360px;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 58px 40px;
      }

      div {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        @media (min-width: $tablet-width) {
          gap: 25px;
          margin-bottom: 10px;
        }

        @media (min-width: $desktop-width) {
          gap: unset;
          margin-bottom: 26px;
        }

        span {
          font-weight: 700;
          font-size: 64px;
          line-height: 64px;
          text-align: center;
          background: $basic-white;
          background-clip: text;
          -webkit-text-fill-color: transparent;

          @media (min-width: $tablet-width) {
            font-size: 70px;
            line-height: 70px;
          }

          @media (min-width: $desktop-width) {
            margin-bottom: 10px;
          }
        }

        span:last-of-type {
          font-weight: 700;
          font-size: 22px;
          line-height: 22px;
          text-align: center;
          margin-bottom: 0;

          @media (min-width: $tablet-width) {
            font-size: 24px;
            line-height: 24px;
            padding: 0;
          }

          @media (min-width: $desktop-width) {
            font-size: 26px;
            line-height: 26px;
          }
        }
      }

      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin: 0;
        padding: 0;

        @media (min-width: $tablet-width) {
          display: flex;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.features__title {
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}
