.form {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.form__wrapper {
  background-color: $basic-dark;
  color: $basic-white;
  padding: 70px 0 72px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 62px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.form__container {
  width: 100%;

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 683px;
  }
}

.form__heading {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  margin-top: 1px;
  margin-bottom: 35px;
  text-align: left;


  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    margin-top:0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form__fieldset {
  display: flex;
  flex-flow: column wrap;
  border: none;
  // gap: 36px;
  margin: 0;
  padding: 0;
  // align-content: center;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 37px 36px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
  }
}

.form__input {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  // padding: 10px 4px;
  padding-bottom: 3px;
  border-bottom: solid 1px #74819c;
  width: 100%;
  position: relative;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 205px;
  }

  @media (min-width: $desktop-width) {
    width: 223px;
  }

  &--error {
    border-bottom: solid 1px $error;
  }

  &:hover {
    border-bottom: solid 1px $basic-white;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: solid 1px $basic-white;
    border-bottom: none;
  }

  &:disabled {
    opacity: 40%;
  }
}

.form__label {
  display: block;
  position: relative;
  margin: 0 0 36px -1px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -2px;
  }
}

.form__label:last-of-type {
  margin: 0 0 38px -1px;
  @media (min-width: $tablet-width) {
    margin: 0 0 0 -6px;
  }

}

.form__error-message {
  position: absolute;
  // content: "";
  color: $error;
  font-size: 14px;
  line-height: 22px;
  // bottom: 5px;
  top: 100%; /* Сообщение будет под input */
  left: 0;
  margin-top: 4px;
  width: max-content;
}

.form__input::placeholder {
  color: #74819C;
}

.form__button {
  color: $basic-white;
  outline: solid 2px $basic-white;
  padding: 22px;
  margin: 0 0 0 0; // костыль
  min-width: 60px;
  width: 286px;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 436px;
    padding: 26px 10px 24px;

  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
