.hero {
  background-image: $bg-main-page;
  padding: 0 0 34px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 30px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 120px;
  }
}

.hero__header {
  display: flex;
  flex-flow: row wrap;
  gap: 41px;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  margin-bottom: 51px;


  @media (min-width: $tablet-width) {
    padding: 0 0 30px;
    margin-bottom: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 30px;
    margin-bottom: 30px;
  }
}

.hero__phone {
  display: block;
  text-decoration: none;
  color: $basic-white;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: -5px;
  }

  &:hover {
    color: #1c337480;
    cursor: pointer;
  }

  &:focus,
  &:focus-within {
    color: $bg-blocks;
    outline: none;
  }

  &:active {
    color: $basic-dark;
    border-bottom: solid 1px $basic-dark;
  }
}

.hero__phone[aria-disabled="true"] {
  opacity: 50%;
  cursor: not-allowed;
  pointer-events: none;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: inherit;
    border-bottom: none;
    cursor: not-allowed;
  }
}

.hero__logo {
  display: block;
}

.hero__wrapper {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;

    // align-items: center;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: $tablet-width) {
    flex-flow: column wrap;
    width: 324px;
    padding: 31px 0;
  }

  @media (min-width: $desktop-width) {
    width: 385px;
    padding: 52px 0;
    margin-right: 57px;
    margin-left: 74px;
  }
}

.hero__main-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 49px;
  gap: 21px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    margin-bottom: 51px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    margin-bottom: 41px;
  }
}

.hero__titles-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 156px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 185px;
  }

  @media (min-width: $desktop-width) {
    // width: 270px;
    max-width: 270px;
  }
}

.hero__title-city {
  display: flex;
  justify-content: flex-end;
  word-wrap: wrap;
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: right;
  margin: 0 2px 14px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin: 1px 1px 10px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin: 0 0 41px;
  }
}

.hero__title {
  display: flex;
  justify-content: flex-end;
  word-wrap: wrap;
  // overflow-wrap: break-word;
  font-family: $font-alumni;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  letter-spacing: 1px;
  text-align: right;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;

    // -webkit-text-stroke: 1px $basic-white;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 113px;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    width: 115px;
    margin: 0 0 72px 0;
  }
}

.hero__description {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  // white-space: nowrap;
  word-wrap: wrap;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.hero__image {
  display: block;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.hero__button {
  color: $basic-white;
  outline: solid 2px $basic-white;
  padding: 22px;
  width: 285px;

  &:hover {
    background-color: $basic-white;
    background-image: none;
    outline: none;
    color: $text-accent;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: solid 2px #000000;
    background-image: none;
    background-color: $basic-white;
    opacity: 80%;
    color: $text-accent;
  }

  &:active {
    outline: none;
    background-image: none;
    background-color: $basic-white;
    color: $basic-dark;
    opacity: 100%;
  }

  // &:disabled {} ???

  @media (min-width: $tablet-width) {
    width: 181px;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 268px;
    padding: 26px 0 24px;
  }
}

.hero__button[aria-disabled="true"] {
  opacity: 50%;
  cursor: not-allowed;
  pointer-events: none;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    color: inherit;
    background-color: inherit;
    background-image: none;
    cursor: not-allowed;
    outline: solid 2px $basic-white;
    opacity: 50%;
  }
}
