.hero {
  background-image: $bg-main-page;
  padding: 0 0 35px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 31px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 120px;
  }
}

.hero__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;

  margin-bottom: 47px;


  @media (min-width: $tablet-width) {
    padding: 0 0 31px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 30px;
    margin-bottom: 30px;
  }
}

.hero__phone {
  display: block;
  text-decoration: none;
  color: $basic-white;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px; //?? pp

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.hero__wrapper {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    gap: 56px;
  }
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items:center;


  @media (min-width: $tablet-width) {
    flex-flow: column wrap;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 385px;
  }
}

.hero__main-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 21px;

  @media (min-width: $tablet-width) {
    gap: 26px;
    margin-bottom: 50px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.hero__titles-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 156px;

  @media (min-width: $tablet-width) {
    width: 185px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.hero__title-city {
  display: block;
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: right;
  margin: 0 0 14px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.hero__title {
  font-family: $font-alumni;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  letter-spacing: 1px;
  text-align: right;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 75px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 113px;

  @media (min-width: $desktop-width) {
    width: 115px;
  }
}

.hero__description {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.hero__image {
  display: block;
  margin: 0;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.hero__button {
  color: $basic-white;
  outline: solid 2px $basic-white;
  padding: 22px;
  width: 286px;

  &:hover {
    background-color: $basic-white;
    background-image: none;
    outline: none;
    color: $text-accent;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: solid 2px #000000;
    background-image: none;
    background-color: $basic-white;
    opacity: 80%;
    color: $text-accent;
  }

  &:active {
    outline: none;
    background-image: none;
    background-color: $basic-white;
    color: $basic-dark;
    opacity: 100%;
  }

  // &:disabled {} ???

  @media (min-width: $tablet-width) {
    width: 185px;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    width: 270px;
  }
}

.hero__button[aria-disabled="true"] {
  opacity: 50%;
  cursor: not-allowed;
}
