.price__container {
  position: relative;
  z-index: 1;
  overflow: visible;

  &::before {
    position: absolute;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 275px;
      height: 328px;
      transform: rotate(150deg);
      background-image:
        image-set(url("../../img/images/bg-image-price-tablet@1x.webp") 1x,
          url("../../img/images/bg-image-price-tablet@2x.webp") 2x,
          url("../../img/images/bg-image-price-tablet@1x.png") 1x,
          url("../../img/images/bg-image-price-tablet@2x.png") 2x,
        );
      bottom: -50px;
      right: -15px;
    }

    @media (min-width: $desktop-width) {
      width: 321px;
      height: 384px;
      background-image:
        image-set(url("../../img/images/bg-image-price-desktop@1x.webp") 1x,
          url("../../img/images/bg-image-price-desktop@2x.webp") 2x,
          url("../../img/images/bg-image-price-desktop@1x.png") 1x,
          url("../../img/images/bg-image-price-desktop@2x.png") 2x,
        );
      bottom: -93px;
      right: -93px;
    }
  }
}


.price {
  background-color: $bg-additional;
  padding: 41px 0 39px;
  position: relative;
  z-index: 1;
  overflow: hidden;


  @media (min-width: $tablet-width) {
    padding: 62px 0 63px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.price__title {
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 31px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    margin: 0 0 20px;
  }
}

.price__tab-content {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 35px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }

  &--active {
    display: flex;
  }

  &--inactive {
    display: none;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    gap: 40px;
  }
}

.price__tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 39px;
  position: relative;

  // border-bottom: solid 2px #78787833;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #78787833;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $desktop-width) {
      bottom: -10px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto 53px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    max-width: 1160px;
    margin: 0 auto 49px;
  }
}

.price__tab-link {
  margin: 0;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #10265480;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }


  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent; //  костыль
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $desktop-width) {
      bottom: -10px;
    }
  }

  &:hover {
    color: #102654b2;
  }

  &:hover::after {
    background-color: #787878;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    color: $basic-dark;
    outline: none;

    // Исключение для активных кнопок
    &.price__tab-link--active {
      color: $basic-dark;
      outline: none;
    }
  }

  &:focus::after,
  &:focus-visible::after,
  &:focus-within::after {
    background-color: $basic-dark;

    // Исключение для активных кнопок
    &.price__tab-link--active::after {
      background-color: $bg-banners;
    }
  }

  &:active,
  &--active {
    color: $basic-dark;
  }

  &:active::after,
  &--active::after {
    background-color: $bg-banners;
  }

  &:disabled {
    opacity: 30%;
    cursor: not-allowed;

    &::after {
      background-color: $basic-dark;
      opacity: 30%;
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: #10265480;
      opacity: 30%;
      cursor: not-allowed;
    }
  }
}

.price__tab-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 42px;
  background-color: $basic-white;
  width: 290px;
  min-height: 384px;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding: 65px;
    min-height: unset;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    align-content: center;
    padding: 65px 65px 67px;
  }

  &:hover {
    // outline-color: $buttons-gradient;
    // outline-width: 7px;
    border: solid 7px $buttons-gradient;
  }
}

.price__tab-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 17px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px;
    font-size: 26px;
    line-height: 26px;
  }
}

.price__tab-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 66px;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 83px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 79px;
  }
}

.price__tab-price {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin: 0 0 20px;
  padding: 0;
  position: relative;
  z-index: 1;
  color: $text-accent;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 60px;
    line-height: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }

  &::before {
    position: absolute;
    content: attr(data-price);
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    color: #e8e8e8;
    opacity: 48%;
    left: 50%;
    transform: translateX(-50%);
    top: -48px;
    z-index: -1;
    min-width: 230px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 100px;
      line-height: 150px;
      top: -59px;
    }
  }
}

.price__ruble-icon {
  display: inline-block;
  width: 24px;
  height: 33px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  mask: url("/__spritemap#sprite-ruble-icon-view") center no-repeat;
  mask-size: contain;
  background-color: $basic-dark;

  @media (min-width: $tablet-width) {
    margin-left: 14px;
    width: 30px;
    height: 42px;
  }
}

.price__tab-button {
  width: 202px;

  @media (min-width: $tablet-width) {
    width: 246px;
    padding: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 226px;
  }
}
