.reviews {
  padding: 40px 0;
  overflow: visible;

  @media (min-width: $tablet-width) {
    padding: 60px 0 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.reviews__heading {
  font-family: $font-alumni;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0 0 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin: 0 0 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 75px;
  }
}

.reviews__swiper {
  width: 240px;
  box-shadow: 0 0 40px 0 #1c337433;
  z-index: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }

  div {
    div {
      background-color: $bg-blocks;
      box-shadow: 0 0 40px 0 #1c337433;
      margin: 0;
      padding: 30px 25px;
      display: flex;
      flex-flow: column wrap;
      color: $basic-white;
      align-items: center;
      height: auto;


      @media (min-width: $tablet-width) {
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 40px 30px;
      }

      @media (min-width: $desktop-width) {
        padding: 60px;
      }

      img {
        display: block;
        width: 68px;
        height: 68px;
        background-color: $basic-dark;
        border-radius: 50%;
        margin-bottom: 10px;

        @media (min-width: $tablet-width) {
          width: 80px;
          height: 80px;
          margin-bottom: 0;
          margin-right: 40px;
        }

        @media (min-width: $desktop-width) {
          margin-right: 30px;
        }
      }

      div {
        margin: 0;
        padding: 0;

        @media (min-width: $tablet-width) {
          width: 320px;
        }

        @media (min-width: $desktop-width) {
          width: 330px;
        }

        h3 {
          margin: 0;
          padding: 0;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          text-align: center;
          margin-bottom: 16px;

          @media (min-width: $tablet-width) {
            font-size: 22px;
            line-height: 22px;
            text-align: left;
            margin-bottom: 20px;
          }
        }

        p {
          margin: 0;
          padding: 0;
          width: 100%;
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
          text-align: center;

          @media (min-width: $tablet-width) {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
      }
    }
  }
}

.reviews__container {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.reviews__button.swiper-button-prev {
  @media (min-width: $tablet-width) {
    left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.reviews__button.swiper-button-next {
  @media (min-width: $tablet-width) {
    right: 0;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.reviews__button.swiper-button-prev:disabled,
.reviews__button.swiper-button-next:disabled {
  cursor: not-allowed;
  pointer-events: none;

  &:hover {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.reviews__button:disabled .swiper-button__icon {
  background-color: #1026544d;
  pointer-events: none;
}
