.video__container {
  position: relative;
  width: 320px;
  height: 170px;
  background-color: $basic-dark;
  max-width: none;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    position: relative;
    margin: 0 calc((100% - 320px)/2);
  }

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.video__placeholder {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $basic-dark;
  background-image:
    image-set(url("../../img/images/video-placeholder-mobile@1x.webp") 1x,
      url("../../img/images/video-placeholder-mobile@2x.webp") 2x,
      url("../../img/images/video-placeholder-mobile@1x.png") 1x,
      url("../../img/images/video-placeholder-mobile@2x.png") 2x,
    );

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../img/images/video-placeholder-tablet@1x.webp") 1x,
        url("../../img/images/video-placeholder-tablet@2x.webp") 2x,
        url("../../img/images/video-placeholder-tablet@1x.png") 1x,
        url("../../img/images/video-placeholder-tablet@2x.png") 2x,
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(url("../../img/images/video-placeholder-desktop@1x.webp") 1x,
        url("../../img/images/video-placeholder-desktop@2x.webp") 2x,
        url("../../img/images/video-placeholder-desktop@1x.png") 1x,
        url("../../img/images/video-placeholder-desktop@2x.png") 2x,
      );
  }
}

.video__button {
  background-color: #8a1b6b;
  background-image: $buttons-play-gradient;
  border: none;
  width: 52px;
  height: 52px;
  padding: 20px;
  cursor: pointer;
  color: #333333;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease;


  &:disabled {
    background-image: none;
    background-color: $basic-white;
    opacity: 40%;
    cursor: not-allowed;
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;
    padding: 27px;

    &:hover {
      background-image: none;
      background-color: $basic-white;
    }

    &:focus {
      background-image: none;
      background-color: #c8c9cc;
      outline: none;
    }

    &:active {
      background-color: $basic-white;
      width: 58px;
      height: 58px;
      padding: 20px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: solid 2px rgba($bg-banners, 0.2);
    left: -10px;
    top: 50%;
    transform: translateY(-50%);


    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: -14px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $basic-white;
    width: 9px;
    height: 10px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    top: 50%;
    transform: translateY(-50%);
    left: 23px;

    @media (min-width: $desktop-width) {
      width: 14px;
      height: 15px;
      left: 30px;
    }
  }
}


@media (min-width: $desktop-width) {
  .video__button:hover::before {
    border: solid 2px rgba($basic-dark, 0.6);
  }

  .video__button:focus::before {
    border: solid 2px $basic-dark;
  }

  .video__button:active::before {
    left: -20px;
  }

  .video__button:active::after {
    left: 23px;
  }


  .video__button:hover::after {
    background-color: $basic-dark;
    opacity: 60%;
  }

  .video__button:focus::after {
    background-color: $basic-dark;
  }
}

.video__button:disabled::before {
  border: solid 2px $basic-dark;
}

.video__button:disabled::after {
  background-color: $basic-dark;
}
